body
{
	margin:0;
	padding:0;
	background:#FFF url(/images/background.gif) repeat-x;
}


/** 
The style for the userbox
*/
.userbox-item{
	height:37px;
	background:#FFF url(/images/userbox-background.png) repeat-x;
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
}

.userbox-item a:link, .userbox-item a:visited, .userbox-item a{
	color:#4183C4;
	text-decoration:none;
}


.userbox-item a:hover{

	color:#F90;
	text-decoration:underline;
}



.userbox-notifications-unread-padding
{
	padding-left: 7px;
}



table.userbox-notifications-unread
{
	vertical-align:middle;
	padding:0;
	margin:0;
}


td.userbox-notificatoins-unread-count
{
	background-color: #4183C4;
	color: white;
	font-weight:bold;
}


td.userbox-notifications-unread-border-left
{
	width:5px;
	height:18px;
	background-image: url(/images/unread_notifications_left.png);
}



td.userbox-notifications-unread-border-right
{
	width:5px;
	height:18px;
	background-image: url(/images/unread_notifications_right.png);
}

.header-searchfield-title
{
	display:none;
}


.footer
{
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	background: url(/images/footer_background.png) repeat-x;
}

.footer a:link, .footer a:visited, .footer a{
	color:#4183C4;
	text-decoration:none;
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
}


.footer a:hover{
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	color:#F90;
	text-decoration:underline;
}


/**
This is the CSS style for the class Title
*/
.widget-title{
	font: normal normal normal 24px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border-bottom: 1px solid #AAA;
	margin: 0px;
	padding-bottom: 5px;
	color:444444;
	height:25px;
}


.widget-big-menu-button
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#666;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #C0C0C0;
	background-color: #F9F9F9;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 5px;
	
}

.widget-big-menu-button-mouseover
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#FFF;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #4183C4;
	background-color: #3C99EA;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 5px;
	
}

.widget-big-menu-button-active
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#333;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #FFAA00;
	background-color: #FFF13A;
	text-align:center;
	vertical-align:middle;
	cursor:auto;
	padding:5px 5px;
}


