body
{
	margin:0;
	padding:0;
	background:#FFF url(/images/background.gif) repeat-x;
	overflow: hidden;
}

a, a:link, a:visited{
	color:#03F;
	font:Verdana, Geneva, sans-serif 14px;
	cursor:pointer;
	text-decoration: none;
}

a:hover
{
	color:orange;
	font:Verdana, Geneva, sans-serif 14px;
	cursor:pointer;
	text-decoration: none;
}


/** 
The style for the userbox
*/
.userbox-item{
	height:37px;
	background:#FFF url(/images/userbox-background.png) repeat-x;
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	color:#333333;
	text-decoration:none;
	cursor:default;
}


/** 
The style for the userbox
*/
.userbox-menuitem{
	height:37px;
	background:#FFF url(/images/userbox-background.png) repeat-x;
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	color:#4183C4;
	text-decoration:none;
	cursor:default;
}

.userbox-menuitem-hover{
	height:37px;
	background:#FFF url(/images/userbox-background.png) repeat-x;
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	color:#F90;
	text-decoration:underline;
	cursor:pointer;
}



.userbox-notifications-unread-padding
{
	padding-left: 7px;
}



table.userbox-notifications-unread
{
	vertical-align:middle;
	padding:0;
	margin:0;
}


td.userbox-notificatoins-unread-count
{
	background-color: #4183C4;
	color: white;
	font-weight:bold;
}


td.userbox-notifications-unread-border-left
{
	width:5px;
	height:18px;
	background-image: url(/images/unread_notifications_left.png);
}



td.userbox-notifications-unread-border-right
{
	width:5px;
	height:18px;
	background-image: url(/images/unread_notifications_right.png);
}

.header-searchfield-title
{
	display:none;
}


.footer
{
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	background: url(../images/footer_background.png) repeat-x;
}

.footer a:link, .footer a:visited, .footer a{
	color:#4183C4;
	text-decoration:none;
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
}


.footer a:hover{
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	color:#F90;
	text-decoration:underline;
}


/**
This is the CSS style for the class Title
*/
.widget-title{
	font: normal normal normal 24px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border-bottom: 1px solid #AAA;
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	color:444444;
	height:25px;
}



.widget-option-button
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#666;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #C0C0C0;
	background-color: #F9F9F9;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 5px;
	
}

.widget-option-button-mouseover
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#FFF;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #4183C4;
	background-color: #3C99EA;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 5px;
	
}

.widget-option-button-active
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#333;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #FFAA00;
	background-color: #FFF13A;
	text-align:center;
	vertical-align:middle;
	cursor:auto;
	padding:5px 5px;
}



.widget-big-menu-button
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#666;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #C0C0C0;
	background-color: #F9F9F9;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 5px;
	
}

.widget-big-menu-button-mouseover
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#FFF;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #4183C4;
	background-color: #3C99EA;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	padding:5px 5px;
	
}

.widget-big-menu-button-active
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#333;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #FFAA00;
	background-color: #FFF13A;
	text-align:center;
	vertical-align:middle;
	cursor:auto;
	padding:5px 5px;
}





.loadingWindow
{
	background-color: #5F5C5C; 
}

/** Toolbar for Editor */
.toolbarButton
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#333;
	font: 14px/normal helvetica, arial, freesans, clean, sans-serif;
	font-weight:bold;
	border: 1px solid #FFAA00;
	background-color: #FFF13A;
	text-align:center;
	vertical-align:middle;
	cursor:auto;
	padding:5px 5px;
	width:50px;
	height:50px;
	 
}


/** Simple grey Notification */

/** tipNotification is used for Notifications, that will be some kind of "Tooltips", used as style for the class TipNotification */
.tipNotification
{
	opacity: 0.9;
	position: absolute;
	background: #3B3C3E;
	border: 2px solid #585B5C;
	padding: 5px 5px;
	color: white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 100%;
	font-weight: bold;
	width: auto;
	max-width: 90%;
	height: auto;
	max-height: 50%;
	overflow:visible;
}

.tipNotification h1
{
	color: white;
	font-size: 36px;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px 0px;
	padding: 0px 0px;
	text-align: center;
}

.tipNotification h2
{
	color: white;
	font-size: 22px;
	font-family: font:Verdana, Geneva, sans-serif;
	margin: 0px 0px;
	padding: 0px 0px;
	text-align: justify;
}


.shortInfoNotification
{
	opacity: 0.9;
	position: absolute;
	background: #3B3C3E;
	border: 1px solid #585B5C;
	padding: 0;
	color: white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 170px;
	max-width: 170px;
	overflow:visible;
}

.shortInfoNotification h1
{
	color: white;
	font-size: 12px;
	font-family: Courier;
	margin: 0px 0px;
	padding: 3px 3px;
	text-align: justify;
	font-weight: normal;
}

.shortInfoNotificationCloseButton{
	font-size: 8px;
	text-align: right;
	color: white;
	padding-right:3px;
	font-weight: bold;
	margin-top: 3px;
	
}

.shortInfoNotificationCloseButtonHover{
	font-size: 8px;
	padding-right:3px;
	text-align: right;
	color: yellow;
	font-weight: bold;
	margin-top: 3px;
}


.criticalErrorLabel
{
	color: white;
	font-size:24px;
	font-family: font:Verdana, Geneva, sans-serif;
}

.criticalErrorReloadLabel{
	color: white;
	font-size:22px;
	font-family: font:Verdana, Geneva, sans-serif;
	weight: bold;
	text-decoration: underline;
	cursor:pointer;
}



.GloabalSearchResultLabel{
	text-align: left;
	vertical-align: middle;
	font-size: 18px;
	margin-left:30px;
	
}


.NotificationListEntry, .NotificationListEntryUnread{
	text-align: left;
	vertical-align: middle;
	font-size: 18px;
	margin-left:30px;
}


.NotificationListEntryUnread{
	background-color: #E6E6E6;
}

.NotificationListHeaderEntry{
	font-size: 20px;
	font-weight: bold;
	color:black;
	margin-left:30px;
	text-align: left;
	vertical-align: middle;
}


.RequestListEntry{
	text-align: left;
	vertical-align: middle;
	font-size: 18px;
	margin-left:30px;
}


.RequestListHeaderEntry{
	font-size: 20px;
	font-weight: bold;
	color:black;
	margin-left:30px;
	text-align: left;
	vertical-align: middle;
}

.ModalDialogBackground
{
	background-color:#151515;
	
}

.ModalDialog{
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:none;
}


.DetailGridLabel{
	
	font-family: Arial,Verdana,sans-serif;
	font-size: 12px;
	padding-left:3px;
	vertical-align: middle;
}




.widget-hyperlink-normal{
	font-family: Arial,Verdana,sans-serif;
	font-size: 14px;
	color:#666;
	text-decoration: none;
	cursor: default;
}


.widget-hyperlink-mouseover{
	font-family: Arial,Verdana,sans-serif;
	font-size: 14px;
	color: #3C99EA;
	text-decoration: none;
	cursor:pointer;
	
}


.ExperimentDescription{
	font-family: Arial,Verdana,sans-serif;
	font-size: 16px;	
}

.ExperimentHeaderInfo{
	font-family: Arial,Verdana,sans-serif;
	font-size: 14px;	
	text-align: center;
}

.ReplayModeBar{
	position: absolute;
	background-color: #f7f7f7;
	border: 1px solid;
	border-color: #575753;
}
